#Naive Bayes
####type of classififcation problem 
####used for data that has categoricla features such as red gree n brown and all and we have to predict

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [ ]:
spam_df=pd.read_csv('spam_ham_dataset.csv')

In [ ]:
spam_df

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [ ]:
x,y= spam_df.text, spam_df.label

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=.3)

In [ ]:
vect=CountVectorizer()

In [ ]:
count=vect.fit_transform(x_train.values)

In [ ]:
count

<3619x41315 sparse matrix of type '<class 'numpy.int64'>'
	with 314511 stored elements in Compressed Sparse Row format>

In [ ]:
clf=MultinomialNB()

In [ ]:
targets=y_train.values

In [ ]:
clf.fit(count,targets)

MultinomialNB()

In [ ]:
y_pred=clf.predict(vect.transform(x_test))